*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}
body{


font-family: "Roboto Slab", serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
/* width: 100%; */
}
.table {
    margin: auto;
    width: 50% !important; 
 }
 .contain {
    display: flex;
    align-items: center; /* Align items vertically */
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif; /* Applying the custom font */
  }
 .material-symbols-outlined {
    /* font-family:  'Material Symbols Outlined',sans-serif; */
   font-variation-settings:
   'FILL' 0,
   'wght' 300,
   'GRAD' 0,
   'opsz' 24
  
 }
 .borders{
  border-right: 2px solid wheat;
 }
 .hovers:hover{
  color: burlywood;
 }
 .hovering:hover{
  color: white;
 }
 /* #header {
  height: 20px;
  background: #222;
  color: white;
} */
/* #content {
  min-height: calc(100vh - 40px);
} */
#footer {
  width: 100%;
  height: 20px;
  background: #222;
  color: white;
  position: relative;
  /* background-clip: padding-box; */
  /* border-top: 20px solid rgba(30, 84, 8, 0.5); */
 /* margin-left: -50%; */
 /* padding: 0 50%; */ 
 /* background-clip: padding-box; */
/* border-top: 20px solid rgba(30, 84, 8, 0.5); */
/* margin-left: -30%; */
/* padding: 0 50%; */
}