/* *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .container:not(.special-container) {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 20000px;
} */
body{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    }
.container {
    max-width: 1100px;
    /* background-color:#fff7f0; */
} 



.text-center h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.text-sec h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text-center h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.text-sec h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.text-center p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.text-sec p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .text-center h2 {
        font-size: 2.5rem;
    }

    .text-center h3 {
        font-size: 2rem;
    }
}
#im2{
    width: 1000px;
}
#im3{
    width: 800px;
}
.img-thumbnail{
    /* width: 400px; */

    height: 300px;
    
    border: 2px solid #ff3d0036;
    
    border-radius: 13px;
    
    box-shadow: 4px 7px 7px 0px #00000042;
}
.img-thumbnail:hover {
    
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
#maticon{
    
    border: 2px solid #ff3d0036;
    
    border-radius: 13px;
    
    box-shadow: 4px 7px 7px 0px #00000042;

}
/* <<<<<<< mypro */
.accordion-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .accordion-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
  }
  .accordion-button {
    color: #343a40;
    font-weight: bold;
    text-align: left;
  }
  .accordion-button:focus {
    outline: none;
  }
  .accordion-body {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }

