body{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    }
    .box{
        margin-top:30px;
        border-radius: 20px;
        height:200px;
        width:600px;
        margin-left: 80px;
    }
    .container-second{
        background-color:white;
        margin-left:10px;
        height:820px;
        width:680px;
        border-radius: 10px;
        margin-top:20px;
    }
    h2,h3,h5,p{
        padding: 15px;
    }
    .container-third{
        display: flex;
        margin-left:20px;
    }
    .box-1{
        height:80px;
        margin: 10px;
        width:210px;
        border:2px solid black;
        border-radius: 10px;
        padding:8px;
    }
    .box-2{
        background-color: white;
        height:550px;
        border-radius: 10px;
    }
    .hovers:hover{
        color: burlywood;
       }
    .hovering:hover{
        color: white;
    }
       /* #header {
        height: 20px;
        background: #222;
        color: white;
      } */
      /* #content {
        min-height: calc(100vh - 40px);
      } */
    #footer {
        height: 20px;
        background: #222;
        color: white;
        /* background-clip: padding-box; */
        /* border-top: 20px solid rgba(30, 84, 8, 0.5); */
       /* margin-left: -50%; */
       /* padding: 0 50%; */ 
       /* background-clip: padding-box; */
      /* border-top: 20px solid rgba(30, 84, 8, 0.5); */
      /* margin-left: -30%; */
      /* padding: 0 50%; */
    }