*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}


.left-side{
  margin-left: 100px;
  line-height: 25px;
  width: 650px;
  height: 100vh;
  margin-top: 30px;

}

.right-side{
  margin-top: 30px;
  /* margin-left: 200px; */
  width: 650px;
  height: 100vh;
  background-size: cover;

}
/* styling for image */
.right-side img{
  margin-top: 30px;
  width: 100%;
  height: 500px;
  background-size: cover;
}
.form{
  width: 500px;
  height: 400px;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 25px;
  background-color: white;
}
.containe{
  /* background-color: lightpink; */
  display: flex;
  background-color:#fff7f0;
  justify-content: space-between;
  flex-wrap: wrap;

}

.form .input-field{
  width: 490px;
  height: 50px;
  border-radius: 10px;
  margin: 8px 5px;
 
   
}
/* .column-spacing{
  margin: 0px 2px;
} */


/* /media query */
/* Add this media query at the end of your CSS */
@media only screen and (max-width: 992px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .container-fluid {
    padding: 0 15px; /* Add padding to container for smaller screens */
  }

  .left-side {
    margin-left: 0; /* Remove left margin for smaller screens */
    width: 100%; /* Full width for smaller screens */
  }

  .right-side {
    margin-top: 30px;
    width: 100%; /* Full width for smaller screens */
  }

  .right-side img {
    width: 100%; /* Make image fill the container for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .form {
    width: 100%; /* Full width for smaller screens */
    height: auto; /* Auto height */
  }

  .form .input-field {
    width: 100%; /* Full width for input fields */
  }

  .container {
    padding: 0 15px; /* Add padding to container for smaller screens */
  }
}


