*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* Styling the login button */
/* form #Login{
  border-radius: 10px;
} */

/* .btn-sm btn-outline-secondary{
  margin-left: 10px;

} */