*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: red;
}


.left-side{
  line-height: 25px;
  width: 500px;
  height: 100vh;
  margin-top: 30px;

}

.right-side{
  margin-top: 30px;

  width: 500px;
  height: 100vh;
  /* border: 2px solid black; */
  background-size: cover;

}
/* styling for image */
.right-side img{
  margin-top: 30px;
  width: 500px;
  height: 400px;
  background-size: cover;
}
.form{
  width: 500px;
  height: 400px;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 25px;
}
.containe{
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-wrap: wrap;

}

.form .input-field{
  width: 490px;
  height: 50px;
  border-radius: 10px;
  margin: 8px 5px;
 
   
}

