*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}


.left-side{
  margin-left: 100px;
  line-height: 25px;
  width: 650px;
  height: 100vh;
  margin-top: 30px;

}
/* .first-form{
  border: none;
} */

.right-side{
  margin-top: 30px;
  /* margin-left: 200px; */
  width: 650px;
  height: 100vh;
  background-size: cover;

}
/* styling for image */
.right-side img{
  margin-top: 30px;
  width: 100%;
  height: 500px;
  background-size: cover;
}
.form{
  width: 500px;
  height: 400px;
  border-radius: 8px;
  border: none;

  margin-top: 25px;
  background-color: white;
}
.containe{
  /* background-color: lightpink; */
  display: flex;
  background-color:#fff7f0;
  justify-content: space-between;
  flex-wrap: wrap;

}

.form .input-field{
  width: 490px;
  height: 50px;
  border-radius: 10px;
  margin: 8px 5px;
 
   
}
/* .column-spacing{
  margin: 0px 2px;
} */


/* /media query */
/* Add this media query at the end of your CSS */
@media only screen and (max-width: 992px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .container-fluid {
    padding: 0 15px; /* Add padding to container for smaller screens */
  }

  .left-side {
    margin-left: 0; /* Remove left margin for smaller screens */
    width: 100%; /* Full width for smaller screens */
  }

  .right-side {
    margin-top: 30px;
    width: 100%; /* Full width for smaller screens */
  }

  .right-side img {
    width: 100%; /* Make image fill the container for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .form {
    width: 100%; /* Full width for smaller screens */
    height: auto; /* Auto height */
  }

  .form .input-field {
    width: 100%; /* Full width for input fields */
  }

  .container {
    padding: 0 15px; /* Add padding to container for smaller screens */
  }
}


.grid-item {
  border: 1px solid #fff7f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  /* margin-bottom: 20px; */
  /* margin-left:   10px; */
  margin: 10px 10px;
  
}
.property-section{
  padding-top: 50px;
  list-style: 1.5rem;
}

.property-section h1{
  
  /* display:inline-block; */
  display: flex;
  justify-content: space-between;
  
}

.property-section .explore{
  color: #fe8d4b;
}

#maticon{
  background-color: #fffaf7;
}

.list-item{
  display: flex;
  justify-content: space-between;
  list-style-type: none; 
  padding: 0;
}
.list-item li{
  display: inline;
  
}
.list-item li a{
  text-decoration: none;
  color: black;
  opacity: 0.5;

}
#maticon i{
  /* height: 30px;
  width: 30px; */
  font-size: 20px;
  margin-top: 25px;

}
.card{
  height: 400px;
}
.card-img-top img{
  height: 50%;
  object-fit: cover;
  
}

.card-2{
  height: 200px;
  perspective: 1000px;
  position: relative;
}
.card-2 img{
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-2 img:hover{
  transform: rotateY(10deg) rotateX(10deg) scale(1.1);
}

/* css for the hover effects */

.hover-effect :hover{
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* .property-section .explore :hover{
  font-weight: 600;
} */
.list-item :hover{
  opacity: 1;
  /* color: black; */
  cursor: pointer;
}


.image-best{
  
  height: 400px;
  width: 50%;
  margin-top: 50px;

}
.image-best img{
  margin-left: 80px;
  height: 100%;
  object-fit: cover;
}
.image-best img{
  border-radius: 8px;
  box-shadow:-20px 20px 0px rgb(252 101 10);
  
}
.image-best ul{
  padding-left: 0px;
}
.image-best ul li i{
  margin-right: 20px;
}
.image-best ul li{
  list-style-type: none;
  
}
/* css for image slider */
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}



/* /media query */
/* Add this media query at the end of your CSS */
@media only screen and (max-width: 992px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .container-fluid {
    padding: 0 15px; /* Add padding to container for smaller screens */
  }

  .left-side {
    margin-left: 0; /* Remove left margin for smaller screens */
    width: 100%; /* Full width for smaller screens */
  }

  .right-side {
    margin-top: 30px;
    width: 100%; /* Full width for smaller screens */
  }

  .right-side img {
    width: 100%; /* Make image fill the container for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .form {
    width: 100%; /* Full width for smaller screens */
    height: auto; /* Auto height */
  }

  .form .input-field {
    width: 100%; /* Full width for input fields */
  }

  .container {
    padding: 0 15px; /* Add padding to container for smaller screens */
  }
}


