.main{
    background-color: blue;
    width: 400px;
    height: 700px;
    margin: auto;
    border: 2px;
    border-radius: 10px ;
    box-shadow: 10px 10px 10px  rgba(0,0,0,0.5);
    
}
.name{
    display: flex;
    height: 40px;
    background-color: rgb(177, 175, 175);
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
   
}
.name span{
/* ; */
}
.name-input{
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline:  none;
    background-color: #ebebeb;
}
.name i{
    margin: 10px 10px 0px;
}
.v-divider{
    display: inline-block;
    
}
.message-container{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    /* width: 100%; */
    overflow-y: scroll;
    height: 600px;
    overflow-x: hidden;
}

.message-left, .message-right{
    list-style: none;
    padding: 8px 7px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}
.message-left{
    border-radius: 20px  20px  20px 0px;
    align-self: flex-start;
    background-color: #fff;
    box-shadow: -2px 2px 4px #dcdcdc;
}
.message-right{
    border-radius: 20px  20px  0px 20px;
    align-self: flex-end;
    background-color: #fff;
    box-shadow: -2px 2px 4px #2d2d2d;
}
.message-left>p> span, .message-right>p> span{display: block;
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;


}
.feedback{
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px  16px 16px;
    color: #2d2d2d;
    text-align: center;

}
.message-container .message-feedback{
    list-style: none;
}

.message-form{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.message-input{
    flex-grow: 1;
    height: 30px;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
}
.send-button{
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 20px;
    outline: none;
}
.clients-total{
    margin: 20px 100px;
    color-scheme: #7e7e7e;

}